:root {
  --primary: #278be3;
  --secondary: #d44848;
  --accent: #bced09;
  --ligth: #ecf8f8;
}

body {
  background-color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-main {
  position: relative;
  margin-top: 7rem;
}
