.carrito {
  position: fixed;
  right: 0%;
  top: 6.5rem;
  z-index: 100;
  margin-inline: 10%;
  max-width: 30rem;
  max-height: 100%;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
.carrito > .card-body {
 margin: .5rem 0;
}
.card-body {
  max-height: 16rem;
  overflow-y: auto;
}
.card-body .card {
  border: none;
}
small {
  font-style: italic;
}
.oculto {
  max-height: 0rem;
}
.close {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
